<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Lb Framework Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./components</directory>
        </whitelist>
    </filter>
    <!--<filter>-->
        <!--<blacklist>-->
            <!--<directory>./.phan</directory>-->
            <!--<directory>./.scannerwork</directory>-->
            <!--<directory>./_ide_helper</directory>-->
            <!--<directory>./vendor</directory>-->
            <!--<file>./.gitignore</file>-->
            <!--<file>./.reviewboardrc</file>-->
            <!--<file>./.travis.yml</file>-->
            <!--<file>./composer.json</file>-->
            <!--<file>./composer.lock</file>-->
            <!--<file>./LICENSE</file>-->
            <!--<file>./phpunit.xml.dist</file>-->
            <!--<file>./pre-commit</file>-->
            <!--<file>./README.md</file>-->
            <!--<file>./sonar.sh</file>-->
        <!--</blacklist>-->
    <!--</filter>-->
</phpunit>
