<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Lb Framework Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./.phan</directory>
            <directory>./.scannerwork</directory>
            <directory>./_ide_helper</directory>
            <directory>./vendor</directory>
            <file>./.gitignore</file>
            <file>./.reviewboardrc</file>
            <file>./.travis.yml</file>
            <file>./composer.json</file>
            <file>./composer.lock</file>
            <file>./LICENSE</file>
            <file>./phpunit.xml.dist</file>
            <file>./pre-commit</file>
            <file>./README.md</file>
            <file>./sonar.sh</file>
        </whitelist>
    </filter>
    <!--<filter>-->
        <!--<blacklist>-->
            <!--<file>framework/helpers/Json.php</file>-->
            <!--<file>framework/helpers/StringHelper.php</file>-->
            <!--<file>framework/helpers/VarDumper.php</file>-->
            <!--<file>framework/helpers/Html.php</file>-->
            <!--<file>framework/helpers/Inflector.php</file>-->
            <!--<file>framework/helpers/FileHelper.php</file>-->
            <!--<file>framework/helpers/ArrayHelper.php</file>-->
            <!--<file>framework/helpers/Console.php</file>-->
            <!--<file>framework/i18n/GettextFile.php</file>-->
            <!--<file>framework/web/ResponseFormatterInterface.php</file>-->
            <!--<directory suffix="Exception.php">framework/base</directory>-->
            <!--<directory suffix=".php">framework/db/mssql</directory>-->
            <!--<directory suffix=".php">framework/bootstrap</directory>-->
        <!--</blacklist>-->
    <!--</filter>-->
</phpunit>
